body {
    margin: 0;
    height: 100vh;
    background: rgb(201,171,252);
    background: linear-gradient(125deg, rgba(201,171,252,1) 0%, rgba(119,52,225,1) 57%, rgba(64,20,134,1) 100%);
}

main {
    height: 100vh;
    background-image: url(./assets/Mobile_bg.png);
    background-size: cover;

}

.navbar-brand{
    color: #C9ABFC!important;
}